// Reset CSS
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
// end Reset CSS

// SCSS Variables
$mainColor: #3D3D3D;
$primaryColor: #46A358;
// end SCSS Variables

// Common styles of the project

html, body {
    height: 100%;
}

.page {
    font-family: 'Cera Pro';
}

.page__wrapper {
    min-height: 100%;
}

* html .page__wrapper {
    height: 100%;
}

.svg-icon {
    max-width: 20px;
    max-height: 20px;
}

// Bootstrap Styles
.container-fluid {
    padding: 0 120px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.bg-sucess {
    background-color: $primaryColor;
}

.btn {
    outline: none;
    padding: 0;
    border: 0;
    position: relative;
    &.btn-success {
        padding: 5.5px 17.5px;
        border-radius: 6px;
        background-color: $primaryColor;
        &:hover {
            background-color: darken($primaryColor, 5%);
        }
    }
}

// end Bootstrap styles