<div class="container header">
    <div class="logo-wrapper">
        <a href="/" class="logo">
            <img src="%=static=%img/general/logo.svg" alt="Greenshop">
        </a>
    </div>
    <div class="menu-wrapper">
        <nav class="menu">
            <a href="#" class="menu-link active">Home</a>
            <a href="#" class="menu-link">Shop</a>
            <a href="#" class="menu-link">Plant Care</a>
            <a href="#" class="menu-link">Blogs</a>
        </nav>
    </div>
    <div class="actions-wrapper">
        <button type="button" class="btn search-btn">
            <svg class="svg-icon">
                <use xlink:href="%=static=%img/svg-sprite/svg-symbols.svg#search"></use>
            </svg>
        </button>
        <a href="#" class="btn cart-btn">
            <svg class="svg-icon">
                <use xlink:href="%=static=%img/svg-sprite/svg-symbols.svg#cart"></use>
            </svg>
            <span class="badge bg-success">
                <span>6</span>
                <span class="visually-hidden">В корзине</span>
            </span>
        </a>
        <button class="btn btn-success"> 
            <svg class="svg-icon me-1">
                <use xlink:href="%=static=%img/svg-sprite/svg-symbols.svg#login"></use>
            </svg>
            Login
        </button>
    </div>
</div>
